In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/wind-power-production-us-2001-2023/wind-power-production-us.csv

# A Statitstical study over the wind power prodution in US from 2001-2023

This notebook aims to perform some basic analysis over the data provided in [this dataset](https://www.kaggle.com/datasets/henriupton/wind-power-production-us-2001-2023). Information about it says the information comes from official entities of the administration.

Disclaimer: please, bear in mind that I am not american, nor I live in the US. So the analysis here is based solely on the information from the dataset itself. 

## First step: Exploring, understanding and cleaning the data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [3]:
raw_df = pd.read_csv('/kaggle/input/wind-power-production-us-2001-2023/wind-power-production-us.csv')
raw_df

,date,other_united_states,other_new_england,other_connecticut,other_maine,other_massachusetts,other_new_hampshire,other_rhode_island,other_vermont,other_middle_atlantic,...,wind_new_mexico,wind_utah,wind_wyoming,wind_pacific_contiguous,wind_california,wind_oregon,wind_washington,wind_pacific_noncontiguous,wind_alaska,wind_hawaii
0,Jan 2001,6025,678,75,348,113,91,10,42,371,...,--,--,26,137,133,3,--,0,0,0
1,Feb 2001,5310,599,77,293,103,83,9,35,338,...,--,--,23,151,148,3,--,0,0,0
2,Mar 2001,5795,660,96,327,101,93,9,33,381,...,--,--,22,308,300,8,--,0,0,0
3,Apr 2001,5827,593,92,277,106,81,9,27,361,...,--,--,13,399,393,6,--,0,0,0
4,May 2001,5738,640,72,336,109,86,9,27,392,...,--,--,16,383,378,6,--,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Oct 2022,50478,998,89,377,287,105,76,64,1429,...,966,34,725,2456,1006,709,741,52,12,40
262,Nov 2022,56144,1084,83,488,224,139,58,93,1497,...,1345,71,935,2904,1284,785,835,80,15,65
263,Dec 2022,52394,1070,78,481,201,137,66,106,1443,...,1548,71,1143,2660,1207,698,756,62,14,48
264,Jan 2023,53152,983,80,429,217,118,64,75,1278,...,1681,78,922,2771,1381,687,703,43,12,31
265,Feb 2023,56626,962,75,416,221,100,62,87,1522,...,1357,70,995,3200,1305,948,947,81,15,66

In [4]:
raw_df.shape

(266, 126)

In [5]:
raw_df.dtypes

date                          object
other_united_states            int64
other_new_england              int64
other_connecticut              int64
other_maine                    int64
                               ...
wind_oregon                    int64
wind_washington               object
wind_pacific_noncontiguous     int64
wind_alaska                   object
wind_hawaii                    int64
Length: 126, dtype: object

Some values are listed as "object" type where it should be numerical. Let's take a closer look.

In [6]:
raw_df['wind_washington'].tolist()

['--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '--',
 '48',
 '21',
 '51',
 '35',
 '28',
 '33',
 '36',
 '31',
 '34',
 '26',
 '33',
 '42',
 '28',
 '35',
 '71',
 '76',
 '42',
 '74',
 '61',
 '55',
 '33',
 '42',
 '52',
 '33',
 '70',
 '59',
 '85',
 '62',
 '72',
 '48',
 '39',
 '47',
 '57',
 '65',
 '58',
 '75',
 '30',
 '23',
 '56',
 '42',
 '48',
 '63',
 '34',
 '38',
 '40',
 '44',
 '49',
 '31',
 '151',
 '81',
 '85',
 '77',
 '73',
 '59',
 '81',
 '53',
 '49',
 '63',
 '184',
 '82',
 '151',
 '155',
 '211',
 '197',
 '183',
 '211',
 '156',
 '200',
 '201',
 '206',
 '196',
 '372',
 '314',
 '297',
 '361',
 '375',
 '330',
 '397',
 '307',
 '297',
 '170',
 '238',
 '253',
 '319',
 '316',
 '144',
 '435',
 '322',
 '330',
 '356',
 '239',
 '345',
 '282',
 '307',
 '334',
 '161',
 '221',
 '130',
 '401',
 '619',
 '522',
 '519',
 '422',
 '471',
 '361',
 '348',
 '402',
 '329',
 '519',
 '484',
 '513',
 '745',
 '557',
 '637',
 '529',
 '572',
 '367',
 '497',
 '499',
 '342',
 '531',
 '511',
 '777',
 '607',
 '682',
 '724',
 '469',
 '484',
 '316',
 '516',
 '345',
 '638',
 '502',
 '672',
 '649',
 '890',
 '610',
 '537',
 '568',
 '456',
 '587',
 '350',
 '505',
 '677',
 '448',
 '540',
 '754',
 '770',
 '723',
 '783',
 '552',
 '491',
 '517',
 '480',
 '679',
 '532',
 '304',
 '492',
 '573',
 '681',
 '524',
 '567',
 '772',
 '717',
 '554',
 '578',
 '608',
 '707',
 '438',
 '631',
 '819',
 '699',
 '797',
 '780',
 '735',
 '575',
 '684',
 '606',
 '606',
 '673',
 '282',
 '441',
 '650',
 '806',
 '567',
 '772',
 '827',
 '611',
 '528',
 '664',
 '498',
 '279',
 '447',
 '863',
 '708',
 '793',
 '751',
 '836',
 '756',
 '819',
 '559',
 '394',
 '516',
 '457',
 '315',
 '385',
 '366',
 '764',
 '720',
 '884',
 '819',
 '688',
 '641',
 '519',
 '325',
 '253',
 '931',
 '972',
 '915',
 '800',
 '784',
 '745',
 '725',
 '627',
 '501',
 '876',
 '775',
 '614',
 '553',
 '1028',
 '789',
 '911',
 '803',
 '703',
 '584',
 '709',
 '673',
 '738',
 '920',
 '887',
 '776',
 '891',
 '940',
 '1012',
 '906',
 '653',
 '515',
 '533',
 '590',
 '741',
 '835',
 '756',
 '703',
 '947']

In [7]:
raw_df.isna().sum()

date                          0
other_united_states           0
other_new_england             0
other_connecticut             0
other_maine                   0
                             ..
wind_oregon                   0
wind_washington               0
wind_pacific_noncontiguous    0
wind_alaska                   0
wind_hawaii                   0
Length: 126, dtype: int64

There's no "nan" values. However, some lines have "--" in their values, which can be interpreted as NaN. Also, some numeric values were passed as strings.

To be safe, let's use regular expressions on everything to check if there's more odd values such as "--" or anything not-numerical at all.

(with a little help from https://regexr.com/ and chatGPT)

In [8]:
non_numerical_values = []

for col in raw_df.columns[1:]: #excludes the "date" column
    for item in raw_df[col]:
        if isinstance(item, str):
            val = re.findall("[^\d]", item) # capture anything that is not a (0-9) number
            val = "".join(val)
            if val not in non_numerical_values:
                non_numerical_values.append(val)

print(non_numerical_values)

['--', '', 'NM']

So, there's also some "NM" values. I didn't find anything on the publication telling what these "NM" suppose to be, but my best guess is "Not Measured". I will treat them as "NaN" values too. The empty values can be treated as NaN as well.

In [9]:
df_withna = raw_df.copy()

for col in df_withna.columns[1:]:
    df_withna.loc[(df_withna[col] == '--') | (df_withna[col] == 'NM') | (df_withna[col] == ''), col] = np.nan
    df_withna[col] = pd.to_numeric(df_withna[col]) # changing the "numeric as string" to numeric
    
df_withna

,date,other_united_states,other_new_england,other_connecticut,other_maine,other_massachusetts,other_new_hampshire,other_rhode_island,other_vermont,other_middle_atlantic,...,wind_new_mexico,wind_utah,wind_wyoming,wind_pacific_contiguous,wind_california,wind_oregon,wind_washington,wind_pacific_noncontiguous,wind_alaska,wind_hawaii
0,Jan 2001,6025.0,678.0,75.0,348.0,113.0,91.0,10.0,42.0,371.0,...,NaN,NaN,26.0,137.0,133.0,3.0,NaN,0.0,0.0,0.0
1,Feb 2001,5310.0,599.0,77.0,293.0,103.0,83.0,9.0,35.0,338.0,...,NaN,NaN,23.0,151.0,148.0,3.0,NaN,0.0,0.0,0.0
2,Mar 2001,5795.0,660.0,96.0,327.0,101.0,93.0,9.0,33.0,381.0,...,NaN,NaN,22.0,308.0,300.0,8.0,NaN,0.0,0.0,0.0
3,Apr 2001,5827.0,593.0,92.0,277.0,106.0,81.0,9.0,27.0,361.0,...,NaN,NaN,13.0,399.0,393.0,6.0,NaN,0.0,0.0,0.0
4,May 2001,5738.0,640.0,72.0,336.0,109.0,86.0,9.0,27.0,392.0,...,NaN,NaN,16.0,383.0,378.0,6.0,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Oct 2022,50478.0,998.0,89.0,377.0,287.0,105.0,76.0,64.0,1429.0,...,966.0,34.0,725.0,2456.0,1006.0,709.0,741.0,52.0,12.0,40.0
262,Nov 2022,56144.0,1084.0,83.0,488.0,224.0,139.0,58.0,93.0,1497.0,...,1345.0,71.0,935.0,2904.0,1284.0,785.0,835.0,80.0,15.0,65.0
263,Dec 2022,52394.0,1070.0,78.0,481.0,201.0,137.0,66.0,106.0,1443.0,...,1548.0,71.0,1143.0,2660.0,1207.0,698.0,756.0,62.0,14.0,48.0
264,Jan 2023,53152.0,983.0,80.0,429.0,217.0,118.0,64.0,75.0,1278.0,...,1681.0,78.0,922.0,2771.0,1381.0,687.0,703.0,43.0,12.0,31.0
265,Feb 2023,56626.0,962.0,75.0,416.0,221.0,100.0,62.0,87.0,1522.0,...,1357.0,70.0,995.0,3200.0,1305.0,948.0,947.0,81.0,15.0,66.0

Finally, I want to split the date from "mm yyyy" to two columns, one for month and another for year. This can be useful when plotting the data to create more specific plots for analysis.

In [10]:
df_withna[['month','year']] = df_withna['date'].str.split(expand=True)
df_withna['year'] = pd.to_numeric(df_withna['year'])
df_withna

/tmp/ipykernel_20/1774844242.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_withna[['month','year']] = df_withna['date'].str.split(expand=True)
/tmp/ipykernel_20/1774844242.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_withna[['month','year']] = df_withna['date'].str.split(expand=True)

,date,other_united_states,other_new_england,other_connecticut,other_maine,other_massachusetts,other_new_hampshire,other_rhode_island,other_vermont,other_middle_atlantic,...,wind_wyoming,wind_pacific_contiguous,wind_california,wind_oregon,wind_washington,wind_pacific_noncontiguous,wind_alaska,wind_hawaii,month,year
0,Jan 2001,6025.0,678.0,75.0,348.0,113.0,91.0,10.0,42.0,371.0,...,26.0,137.0,133.0,3.0,NaN,0.0,0.0,0.0,Jan,2001
1,Feb 2001,5310.0,599.0,77.0,293.0,103.0,83.0,9.0,35.0,338.0,...,23.0,151.0,148.0,3.0,NaN,0.0,0.0,0.0,Feb,2001
2,Mar 2001,5795.0,660.0,96.0,327.0,101.0,93.0,9.0,33.0,381.0,...,22.0,308.0,300.0,8.0,NaN,0.0,0.0,0.0,Mar,2001
3,Apr 2001,5827.0,593.0,92.0,277.0,106.0,81.0,9.0,27.0,361.0,...,13.0,399.0,393.0,6.0,NaN,0.0,0.0,0.0,Apr,2001
4,May 2001,5738.0,640.0,72.0,336.0,109.0,86.0,9.0,27.0,392.0,...,16.0,383.0,378.0,6.0,NaN,0.0,0.0,0.0,May,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Oct 2022,50478.0,998.0,89.0,377.0,287.0,105.0,76.0,64.0,1429.0,...,725.0,2456.0,1006.0,709.0,741.0,52.0,12.0,40.0,Oct,2022
262,Nov 2022,56144.0,1084.0,83.0,488.0,224.0,139.0,58.0,93.0,1497.0,...,935.0,2904.0,1284.0,785.0,835.0,80.0,15.0,65.0,Nov,2022
263,Dec 2022,52394.0,1070.0,78.0,481.0,201.0,137.0,66.0,106.0,1443.0,...,1143.0,2660.0,1207.0,698.0,756.0,62.0,14.0,48.0,Dec,2022
264,Jan 2023,53152.0,983.0,80.0,429.0,217.0,118.0,64.0,75.0,1278.0,...,922.0,2771.0,1381.0,687.0,703.0,43.0,12.0,31.0,Jan,2023
265,Feb 2023,56626.0,962.0,75.0,416.0,221.0,100.0,62.0,87.0,1522.0,...,995.0,3200.0,1305.0,948.0,947.0,81.0,15.0,66.0,Feb,2023

In [11]:
df_withna.dtypes

date                           object
other_united_states           float64
other_new_england             float64
other_connecticut             float64
other_maine                   float64
                               ...
wind_pacific_noncontiguous    float64
wind_alaska                   float64
wind_hawaii                   float64
month                          object
year                            int64
Length: 128, dtype: object

In [12]:
df_withna.isna().sum().sort_values(ascending=False)

wind_south_carolina          266
wind_district_of_columbia    266
wind_mississippi             266
wind_kentucky                266
wind_alabama                 266
                            ...
other_alabama                  0
other_east_south_central       0
other_west_virginia            0
other_virginia                 0
year                           0
Length: 128, dtype: int64

Some columns have no wind-related production at all. It makes sense, since not every state produces wind energy. Let's, for now, separate the states that produces wind power from those who don't. 

Why? Not sure yet.

After that, let's transform the NaN values into zeros, just to make everything numerical. Note that, if we did this before, it would be trickier to capture those states that don't produce wind power, but still possible. So we could just pass everything to zero before. I prefer to leave as it is to show my line of thought.

In [13]:
list_non_producers = df_withna.isna().sum()[df_withna.isna().sum() == 266].index.tolist()

df_producers = df_withna.drop(list_non_producers, axis=1)
df_producers = df_producers.fillna(0)

df_producers

,date,other_united_states,other_new_england,other_connecticut,other_maine,other_massachusetts,other_new_hampshire,other_rhode_island,other_vermont,other_middle_atlantic,...,wind_wyoming,wind_pacific_contiguous,wind_california,wind_oregon,wind_washington,wind_pacific_noncontiguous,wind_alaska,wind_hawaii,month,year
0,Jan 2001,6025.0,678.0,75.0,348.0,113.0,91.0,10.0,42.0,371.0,...,26.0,137.0,133.0,3.0,0.0,0.0,0.0,0.0,Jan,2001
1,Feb 2001,5310.0,599.0,77.0,293.0,103.0,83.0,9.0,35.0,338.0,...,23.0,151.0,148.0,3.0,0.0,0.0,0.0,0.0,Feb,2001
2,Mar 2001,5795.0,660.0,96.0,327.0,101.0,93.0,9.0,33.0,381.0,...,22.0,308.0,300.0,8.0,0.0,0.0,0.0,0.0,Mar,2001
3,Apr 2001,5827.0,593.0,92.0,277.0,106.0,81.0,9.0,27.0,361.0,...,13.0,399.0,393.0,6.0,0.0,0.0,0.0,0.0,Apr,2001
4,May 2001,5738.0,640.0,72.0,336.0,109.0,86.0,9.0,27.0,392.0,...,16.0,383.0,378.0,6.0,0.0,0.0,0.0,0.0,May,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Oct 2022,50478.0,998.0,89.0,377.0,287.0,105.0,76.0,64.0,1429.0,...,725.0,2456.0,1006.0,709.0,741.0,52.0,12.0,40.0,Oct,2022
262,Nov 2022,56144.0,1084.0,83.0,488.0,224.0,139.0,58.0,93.0,1497.0,...,935.0,2904.0,1284.0,785.0,835.0,80.0,15.0,65.0,Nov,2022
263,Dec 2022,52394.0,1070.0,78.0,481.0,201.0,137.0,66.0,106.0,1443.0,...,1143.0,2660.0,1207.0,698.0,756.0,62.0,14.0,48.0,Dec,2022
264,Jan 2023,53152.0,983.0,80.0,429.0,217.0,118.0,64.0,75.0,1278.0,...,922.0,2771.0,1381.0,687.0,703.0,43.0,12.0,31.0,Jan,2023
265,Feb 2023,56626.0,962.0,75.0,416.0,221.0,100.0,62.0,87.0,1522.0,...,995.0,3200.0,1305.0,948.0,947.0,81.0,15.0,66.0,Feb,2023

## Statistical analysis

Great. Now that we have a more workable dataframe, let's search for some answers:
 
- [ ] What's the average wind-power production over US?
- [ ] What's the average wind-power production over US per state?
- [ ] Which state produces the most?
- [ ] Which state produces the least (considering that it produces at all)?
- [ ] How much wind-power is produced compared to other sources?
- [ ] What was the first state to start producing?
- [ ] What was the last state to start producing?
- [ ] Which time of the year has the pick production overall? and by state?
- [ ] Which time of the year has the lowest production overall? and by state?